/*  import google fonts! */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Home Section */
.home{
    display: flex;
    background: url("images/banner.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

/* Buttons */
.buttons {
    margin-top: 20px;
}

.yes-button, .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.yes-button {
    background-color: #4caf50;
    color: white;
}

.no-button {
    background-color: #f44336;
    color: white;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
    }

    h1 {
        font-size: 2em; /* Adjusted for mobile */
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .yes-button, .no-button {
        width: 100%;
        font-size: 1.2em; /* Larger for easier tapping */
        padding: 15px;
    }

    .gif_container img {
        max-width: 90%;
        height: auto;
    }
}
